a:link {
	cursor: pointer;
}
.bg-white{
	background-color: $color-white;
}
article.episode {
	padding-right: 10px;
}
.episode .parent-title a {
	font-weight: 400;
	@include font-size($base-h2-font-size);
	color: $color-medium-grey;
	text-decoration: none;
}
.episode .parent-title a:hover {	
	color: $color-primary;
}
.episode .title {
	@include font-size($base-h1-font-size);
}
.episode .meta {
	@include font-size($small-font-size);
}
code, .code {
	background-color: $color-very-light-grey;
	border-radius: 3px;
	padding: 1px 5px;
}

.series .heading {
	padding: 20px 0 20px 0;
	@include font-size($base-h2-font-size);
	line-height: $series-heading-line-height;
	font-family: $base-heading-font-family;
	// min-height: 330px;
	// max-height: 330px;
	// height: 330px;
}
.series .parent-title {
	font-weight: 400;
	@include font-size($base-h2-font-size);
	color: $color-medium-grey;
}
.post-list-card {
	margin-bottom: 17px;
	height: 200px;
	max-height: 200px;
	border-radius: 2px;
	box-shadow: 0 1px 5px gainsboro;
	padding: 20px 30px;
	background-color: $color-white;
	font-family: $base-heading-font-family;
}
.post-list-card .meta {
	@include font-size($x-small-font-size);
	color: $color-medium-grey;
}
.post-list-card .content {
	@include font-size($small-font-size);
	@include line-height($x-small-line-height);
}
.post-list-card .title {
	border-top: 1px solid $color-light-grey;	
	margin-top: 10px;
	padding-top: 10px;
}