// article / single page
article.episode {
	padding-right: 10px;
	cursor: default;
}
.episode .parent-title a,
.series .parent-title, {
	font-weight: 400;
	@include font-size($base-h2-font-size);
	color: $color-grey;
	text-decoration: none;
}
.episode .title {
	@include font-size($base-h1-font-size);
}

// series / skill / category page
.series .heading {
	@include font-size($base-h2-font-size);
	line-height: $series-heading-line-height;
	font-family: $base-heading-font-family;
	cursor: default;
	// min-height: 330px;
	// max-height: 330px;
	// height: 330px;
}

.post-list, .series-list {
	margin-bottom: 17px;
	padding: 10px 30px 10px 0px;
}
.post-list .meta, .series-list .meta, .episode .meta {
	@include font-size($x-small-font-size);
	@include line-height($x-small-line-height);
	color: $color-medium-grey;
	font-family: $menu-font-family;
}
.series-list .title {
	border-top: 1px solid $color-light-grey;	
	margin-top: 10px;
	padding-top: 10px;
	font-weight: bold;
}
.snippet-content {
	@include font-size($small-font-size);
	@include line-height($small-line-height);
}
.home-featured-content h2 {
	@include font-size($base-h4-font-size);
	@include line-height($base-h4-line-height);
	font-family: $base-font-family;
	color: $color-primary;
	font-weight: 700;
}