$logo-font-size:                                37 !default;
$small-font-size:                                14 !default;
$color-grey:                                	#ccc !default;
$color-light-grey:                              #F5F5F5 !default;
$color-primary:                              	#00b1b3 !default;
$color-danger:                              	#ff5348 !default;
$color-light:                              		#b2b4b7 !default;

