// Colors
$color-white: 									#fff !default;
$color-black: 									#5f6d80 !default;
$color-grey:                                	#ccc !default;
$color-medium-grey:                        		#b2b4b7 !default;
$color-light-grey: 								#d7d7d7 !default;
$color-very-light-grey: 						#f3f3f3 !default;
$color-primary:                              	#02b875 !default;
$color-primary:                              	#02b875 !default;
$color-dark-primary:                            #00ab6b !default;
$color-danger:                              	#ff5348 !default;

$logo-font-size:                                37 !default;
$small-font-size:                               17 !default;
$small-line-height:                           	29 !default;
$x-small-font-size:                             14 !default;
$x-small-line-height:                           28 !default;
$series-heading-line-height:					38px !default;

$xx-small-font-size:                            12 !default;
$menu-font-family:                              'Ubuntu', sans-serif !default;



