@font-face {
	font-family: 'Miriam Libre';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Miriam_Libre-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Miriam Libre';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Miriam_Libre-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Source_Sans_Pro-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Source_Sans_Pro-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Source_Sans_Pro-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: url(../fonts/Source_Sans_Pro-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/VT323-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

