// ==========================================================================
// Base – Variables
// ==========================================================================

// Global Typography
$base-background-color:                         $color-very-light-grey;
$base-font-family:                              'Open Sans', sans-serif !default;
$base-font-size:                                19 !default;
$base-line-height:                              31 !default;
$base-font-weight:                              400 !default;
$base-font-color:                               $color-black;
$base-link-color:                               $color-black;
$base-link-hover-color:                         $color-black;

// Headings
$base-heading-font-family:                      'Miriam Libre', sans-serif !default;
$base-h1-font-size:                             37 !default;
$base-h1-line-height:                           38 !default;
$base-h1-font-weight:                           700 !default;
$base-h1-color:                                 $color-black;
$base-h2-font-size:                             26 !default;
$base-h2-line-height:                           32 !default;
$base-h2-font-weight:                           700 !default;
$base-h2-color:                                 $color-black;
$base-h3-font-size:                             22 !default;
$base-h3-line-height:                           28 !default;
$base-h3-font-weight:                           700 !default;
$base-h3-color:                                 $color-black;
$base-h4-font-size:                             18 !default;
$base-h4-line-height:                           24 !default;
$base-h4-font-weight:                           700 !default;
$base-h4-color:                                 $color-black;
$base-h5-font-size:                             16 !default;
$base-h5-line-height:                           22 !default;
$base-h5-font-weight:                           700 !default;
$base-h5-color:                                 $color-black;
$base-h6-font-size:                             14 !default;
$base-h6-line-height:                           20 !default;
$base-h6-font-weight:                           700 !default;
$base-h6-color:                                 $color-black;

// Blockquotes
$base-blockquote-font-family:                   sans-serif !default;
$base-blockquote-font-size:                     22 !default;
$base-blockquote-line-height:                   28 !default;

// Code
$base-code-font-family:                         monospace, monospace !default;
$base-code-font-size:                           15 !default;
$base-code-line-height:                         21 !default;
$base-code-color:                               $color-black;
$base-code-background-color:                    transparent !default;
$base-code-border-color:                        $color-light-grey;

// Forms
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-color:                              $color-black;
$base-input-background-color:                   $color-white;
$base-input-background-focus-color:             $color-white;
$base-input-border-color:                       $color-grey;
$base-input-border-focus-color:                 #f7c723 !default;
$base-select-box-height:                        36px;

// Grid Containers
$container:                                     100% !default;
$container-m:                                   720px !default;
$container-l:                                   960px !default;
$container-xl:                                  1120px !default;

// Grid Gutters
$grid-gutter:                                   15px !default;
$grid-gutter-m:                                 15px !default;
$grid-gutter-l:                                 15px !default;
$grid-gutter-xl:                                15px !default;

// Responsive Breakpoints
$breakpoint-m:                                  ($container-m + 20) !default;
$breakpoint-l:                                  ($container-l + 20) !default;
$breakpoint-xl:                                 ($container-xl + 20) !default;